@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body {

    background-color: white;
    margin: 0;
    font-family: 'raleway', sans-serif;
}

/* header */

header {
    max-width: 1400px;
    margin: auto;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding:0 30px 0 30px;
}

.logo {
    padding-top: 35px;
}

.logo img {
    width: 73px;
    height: 35px;
}

.menu {
    width: 324px;

    display: flex;
    flex-flow: row nowrap;
}


.menu a {
    display: block;
    width: 50%;

    padding-top: 48px;

    text-align: center;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #0065FC;
    border-top: solid #0065FC;
    padding: 45px 0 0 0;
}


/* --------main---------- */

main {
    max-width: 1400px; /* la maquette fait 1440px de largeur*/
    margin: auto;
    padding: 30px 30px 0 30px;

    
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.title {
    margin-bottom: 20px;
    line-height: 25.83px;
}

.title p, h1 {
    margin: 0;
}

.title h1 {
    display: inline-block;
    font-size: 1.375em;
    font-weight: 700;

}

.title p {
    font-weight: 400;
}

/* ----barre de recherche / filtres---- */

.recherche {
    width: 100%;
    margin: 30px 0 0 0;
}

.barre-recherche form {

    height: 50px;

    padding: 0;

    display: flex;
    justify-content: flex-start;
}

.barre-recherche form label {
    min-width: 50px;
    height: 96%;

    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
   

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.barre-recherche form label img {
    width: 14px;
    height: 18px;
}

.barre-recherche form input {
    min-width: 120px;
    height: 48px;

    padding: 0 0 0 17px;
    border: 1px solid #F2F2F2;
    outline: none;
    
    font-weight: 700;
    font-size: 18px;
}

.barre-recherche form button {
    width: 128px;
    height: 96%;

    display: inline-block;
    
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;

    font-weight: 700;
    text-align: center;
    color: white;
} 

.barre-recherche form button i {
    display: none;
    
}


.filtres {
    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    
}
.filtres h3 {
    font-weight: 700;
    font-size: 18px;
}

.filtre {
    height: 50px;
    margin-left: 30px;
    padding: 13px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;

    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.filtre:hover {
    background-color: #DEEBFF;
    
}

.filtre i {
    margin-right: 10px;
    color: #0065FC;
}


.result {
    margin-top: 16px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    font-weight: 400;
}

.result p {
    margin: 0;
}

.info {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*----------content----------------*/



.content {
    width: 100%;

    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    
}


/* -------Héberement ------------*/

.hebergement {
    width: 65%;
    
    padding: 42px 20px 35px 20px;
    border-radius: 15px;
    background-color: #F2F2F2; 
}

.cartes {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    

}

.cartes a {
    width: 30%;
    min-width: 200px;

    margin-bottom: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.carte-hebergement {
    width: 100%;
    
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.carte-hebergement:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}



.img-hebergement {
    width: 100%;
    height: 126px;
    

    border: solid 5px white;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-hebergement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hebergement h2 {
    width: 93%;
    margin: 0 0 22px 10px;
}



.view-more {
    width: 100%;
    cursor: pointer;
    margin: 0 0 0 10px;

}



.carte-hebergement p, h3 {
    margin: 0;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
}

.item-hebergement {
    width: 100%;
}

.description {
    padding: 0px 10px 5px 10px;
}

.description h3 {
    margin-bottom: 5px;
}

.description p {
    margin-bottom: 8px;

}

.score {
    padding: 0px 10px 0px 10px;
    margin-bottom: 8px;

}

.good-score {
    color: #0065FC;
}


.bad-score{
    color: #D9D9D9;
}

/* ---------- Les plus populaires--------------*/

.populaire {
    width: 32%;
    
    background-color: #F2F2F2;
    
    padding: 42px 20px 45px 20px;
    border-radius: 15px;
}

.flex-populaire {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.populaire-title {
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.populaire-title i {
    color: #0065FC;
}

.populaire a {
    width: 93%;
    min-width: 250px;

    margin-top: 24px;
    text-decoration: none;
    color: black;
}

.populaire h2 {
    font-size: 22px;
    margin: 0;
}

.carte-populaire {
    width: 100%;
    height: 145px;

    border: solid 5px white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.carte-populaire:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.img-populaire {
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.img-populaire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-populaire {
    width: 65%;
    padding: 16px 0 0 16px;

}

.description-populaire h3 {
    font-size: 16px;
    margin: 0;
}

.description-populaire p {
    margin-top: 7px;
    font-size: 14px;
}

.score-populaire {
    padding: 0px 10px 0px 16px;
}

.score img, .score-populaire img {
    width: 14px;
    height: 14px;
}



/*----------- activités-------------*/

#activite {
    margin-top: 60px;
}
#activite h2 {
    width: fit-content;
    margin-bottom: 20px;
}
.activites {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0px 0 60px 0;
}

.activites a {
    width: 21%;

    text-decoration: none;
    color: black;
}

.carte-activite {
    width: 100%;

 
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.carte-activite:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.activites h3 {
    width: 100%;
    margin: 0 0 19px 0;
}


.card-img {
    width: 100%;

    border-bottom: solid 10px white;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carte-activite img {
    height: 445px;
}

.activite-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    background-color: white;
}

.activite-description h3 {
    margin: 0;
    font-size: 16px;
}

footer {
    max-width: 1400px;
    padding: 0 30px 0 30px;
    margin: auto;
    background-color: white;

}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    background-color: #F2F2F2;
    padding: 45px 0 50px 70px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 15%;

}

.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-content li {
    padding: 0 0 12px 0;
}

.apropos {
    grid-column-start: 1;
}
.nos-hebergements {
    grid-column-start: 2;
}

.assistance {
    grid-column-start: 3;
}


@media screen and (max-width: 992px) {

   

    .filtre {
        margin-left: 15px;
        padding: 10px 10px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 19.96px;
    }

    .filtre img {
        margin-right: 10px;
        width: 18px;
        height: 18px;
    }

    /*------------content------------*/

    .content {
        justify-content: space-between;
        flex-flow: column nowrap;
    }

    .hebergement {
        width: 100%;
        margin-bottom: 50px;
    }

    /*---------populaire tablette---------*/

    .populaire {
        width: 100%;

        
    }

    .flex-populaire {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .populaire a {
        width: 30%;
        max-width: 260px;
        min-height: 145px;
        margin-right: 10px;
    }

    .blank {
        width: 30%;
        min-width: 250px;
        height: 1px;
    }

    .populaire h3 {
        width: 100%;
    }

/*-------Activités---------*/


    .activites a {
        width: 21%;
        min-width: 180px;


        margin: 0 10px 30px 0; 
        text-decoration: none;
        color: black;
    }

    .card-img {
        width: 100%;
        height: 265px;
    
        border-bottom: solid 10px white;
        border-radius: 25px;        
    }
    
    .carte-activite img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/*-------footer -----------*/

    .footer-content {
        padding: 45px 0 50px 50px;
        grid-template-columns: 20% 20% 20%;
        gap: 15%;
    
    }
}  

@media screen and (max-width: 768px) {

    .nav-bar {
        margin: 0;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
    }

    .logo {
        padding-top: 44px;
    }

    .menu {
        width: 100%;
    }

    .menu a {
        padding: 48px 0 22px 0;
    
        text-align: center;
    }


    .menu a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: solid #0065FC;
        
    }


    
    
    .result {
        font-size: 1em;
    }

    /*-------content -------*/

    main {
        padding: 0;
    }
    .recherche {
        padding: 0 20px 0 20px;
    }

    .title {
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;

        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    .title h1 {
        display: inline-block;
        width: 100%;
    }
    .title p {
        display: inline-block;
        width: 100%;
    }

    .recherche h1 {
        margin-bottom: 10px;
    }

    
    /*--------Barre de recherche ------------*/

    .barre-recherche form {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .barre-recherche form button {
        width: 50px;
        height: 96%;
    } 
    .barre-recherche form button span {
        display: none;
    }
    .barre-recherche form button i {
        display: inline-block;
    }

/*--------filtres----------*/

    .filtres {    
        justify-content: flex-start;

        margin: 0;
        flex-flow: row wrap;
        gap: 4%;
    }

    .filtres h3 {
        width: 100%;
        margin-bottom: 15px;
    }

    .filtre {
        width: 48%;
        height: 50px;
        line-height: 1;

        margin: 0 0 0 0px;
        margin-bottom: 10px;


        font-size: 11px;
        overflow: hidden;
        justify-content: flex-start;
    }

    .filtre i {
        margin-right: 5px;
    }

    .result p {
        font-size: 15px;
        margin: 0 0px 5px 0;
    }
    .info {
        margin: 0 5px 15px 5px;
    }
    .content {
        width: 100%;
        
        margin: 30px 0 0 0;
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: flex-end;
    }

    .populaire {
        width: 100%;

        background-color: #F2F2F2;
        
        border-radius: 0px;
    }

    .populaire a {
        width: 100%;
        max-width: none;

        margin-right: 0;
    }

    .populaire-title {
        width: 100%;
    }
    .populaire-title i {
        margin-top: 5px;
    }

    .hebergement {
        background-color: white;
    }
    
    
    .cartes a {
        width: 100%;
    
        margin-bottom: 15px;
        margin-right: 0;
    }

    .hebergement h2 {
        width: fit-content;
        margin:0 0 22px 0;
        font-size: 22px;
    }
    
    
    
    .view-more {
        display: none;
    }
    
    .activites {
        width: 100%;

        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        margin: 20px 0 60px 0;
    }

    #activite {
        margin-top: 0;
        padding:0 20px 0 20px;
    }

    
    .activites a {
        width: 100%;

    
        margin-right: 0;
        text-decoration: none;
        color: black;
    }
    
    .carte-activite {
        width: 100%;

        border-radius: 25px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
    }

    .card-img {
        height: 200px;
    }

    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .activites h3 {
        width: 100%;
        margin: 0 0 19px 0;
    }

    .activite-description h3 {
        margin: 0;
    }


    footer {
        padding: 0;
        background-color: #F2F2F2;
    }

    .footer-content {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column: 3;
        gap: 5%;
    }

    .footer-content ul {
        margin-bottom: 0;
    }

    .apropos {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .nos-hebergements {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .assistance {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    
    
}