@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body {

    background-color: #F0F2F6;
    margin: 0;
    font-family: 'raleway', sans-serif;
}

/* header */

header {
    max-width: 1440px;
    background-color: white;
    
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo {
    padding-top: 44px;
    width: 61px;
    height: 29px;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-left:  50px;
    padding-right: 20px;
}

.menu {
    width: 324px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-item {
    width: 162px;

    padding-top: 48px;

    text-align: center;

}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:focus {
    color: #0065FC;
}

.nav-item:focus-within {
    border-top: solid #0065FC;
    padding-top: 45px;
}

.title {
    margin-bottom: 20px;
    line-height: 25.83px;
}

.title p, h1 {
    margin: 0;
}

.title h1 {
    font-size: 1.375em;
    font-weight: 700;

}

.title p {
    font-weight: 400;
}



/* ----barre de recherche / filtres---- */

.recherche {
    width: 100%;
    padding: 0 0 0 50px;
}

.barre-recherche form {
    width: auto;
    height: 50px;

    padding: 0;

    display: flex;
    justify-content: flex-start;
}

.barre-recherche form label {
    width: 50px;
    height: 50px;

    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
   

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.barre-recherche form label img {
    width: 14px;
    height: 18px;
}

.barre-recherche form input {
    width: 218px;
    height: 48px;

    padding: 0 0 0 17px;
    border: 1px solid #F2F2F2;
    outline: none;
    
    font-weight: 700;
    font-size: 18px;
}

.barre-recherche form button {
    width: 128px;
    height: 100%;

    display: inline-block;
    
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;

    font-weight: 700;
    text-align: center;
    color: white;
} 

.barre-recherche form button i {
    display: none;
}


.filtres {
    width: 100%;
    margin-top: 30px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    
}
.filtres h3 {
    font-weight: 700;
    font-size: 18px;
}

.filtre {
    margin-left: 30px;
    padding: 7px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;

    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.filtre:hover {
    background-color: #DEEBFF;
    
}

.filtre img {
    margin-right: 10px;
}


.result {
    margin-top: 16px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    font-weight: 400;
}

.result p {
    margin: 0;
}

.info {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




/* --------content---------- */

.content {
    max-width: 1440px; /* la maquette fait 1440px de largeur*/
    margin: auto;
    padding-top: 30px;
    
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: white;
}

main {
    width: 100%;

    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    
}


/* -------Héberement ------------*/

.hebergement {
    width: 65%;
    
    padding: 42px 40px 46px 40px;
    border-radius: 15px;
    background-color: #F2F2F2;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
 
    
}

.cartes {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.cartes a {
    width: 30%;
    min-width: 245px;
    height: 200px;
    margin-bottom: 30px;
    margin-right: 10px;

    text-decoration: none;
    color: black;
}

.carte-hebergement {
    width: 100%;
    height: 200px;
    
    
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img-hebergement {
    width: 100%;
    height: 60%;

    border: solid 5px white;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hebergement h2 {
    width: 93%;
    margin: 0 0 22px 0;
}



.view-more {
    width: 100%;
    cursor: pointer;

}



.carte-hebergement p, h3 {
    margin: 0;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
}

.item-hebergement {
    width: 100%;
}

.description {
    padding: 0px 10px 5px 10px;
}

.description h3 {
    margin-bottom: 5px;
}

.description p {
    
    margin-bottom: 8px;
}

.score {
    padding: 0px 10px 0px 10px;
}

/* ---------- Les plus populaires--------------*/

.populaire {
    width: 32%;
    
    background-color: #F2F2F2;
    
    padding: 42px 20px 45px 20px;
    border-radius: 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

}

.populaire a {
    width: 93%;
    min-width: 280px;

    margin-top: 24px;
    text-decoration: none;
    color: black;
}

.populaire h3 {
    font-size: 22px;
}

.carte-populaire {
    width: 100%;
    height: 145px;

    border: solid 5px white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.img-populaire {
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}
.item-populaire {
    height: 100%;
}

.item-populaire-stretch {
    width: 100%;
}

.description-populaire {
    width: 65%;
    padding: 16px 0 0 16px;

}

.description-populaire h3 {
    font-size: 16px;
    margin: 0;
}

.description-populaire p {
    margin-top: 7px;
    font-size: 14px;
}

.score-populaire {
    padding: 0px 10px 0px 16px;
}

.score img, .score-populaire img {
    width: 14px;
    height: 14px;
}



/* activités*/

.activites {
    width: 100%;

    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 60px 0 60px 0;
}

.activites a {
    width: 21%;
    
    max-height: 440px;


    text-decoration: none;
    color: black;
}

.carte-activite {
    width: 100%;
    max-height: 100%;
 
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.activites h3 {
    width: 100%;
    margin: 0 0 19px 0;
}


.card-img {
    width: 100%;
    height: 440px;

    border-bottom: solid 10px white;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.carte-activite img {
    height: 455px;
}

.activite-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    background-color: white;
}

.activite-description h3 {
    margin: 0;
    font-size: 16px;
}

footer {
    max-width: 1440px;
    padding: 0 50px 0 50px;
    margin: auto;;
    background-color: white;

}

footer a {
    text-decoration: none;
    color: black;
}

.footer-content {
    background-color: #F2F2F2;
    padding: 45px 0 50px 70px;
    display: grid;
    grid-template-columns: 20% 12% 20% 12% 20% 20%;

}

.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-content li {
    padding: 0 0 12px 0;
}

.space-hidden {
    width: 230px;
    height: 2px;
}

.apropos {
    grid-column-start: 1;
}
.nos-hebergements {
    grid-column-start: 3;
}

.assistance {
    grid-column-start: 5;
}


@media screen and (max-width: 992px) {


    .filtre {
        margin-left: 15px;
        padding: 5px 15px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 19.96px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
    }

    .filtre img {
        margin-right: 10px;
        width: 18px;
        height: 18px;
    }

    /*------------content------------*/

    main {
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column nowrap;
    }

    .hebergement {
        width: 100%;
        margin-bottom: 50px;
    }

    .populaire {
        width: 100%;

        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .populaire a {
        width: 30%;
        min-width: 250px;
        min-height: 145px;
        margin-right: 0;
        

    }

    .populaire h3 {
        width: 100%;
    }

/*-------Activités---------*/


    .activites a {
        width: 21%;
        min-width: 180px;
        max-height: 265px;

        margin: 0 10px 30px 0; 
        text-decoration: none;
        color: black;
    }

    .card-img {
        width: 100%;
        max-height: 265px;
    
        border-bottom: solid 10px white;
        border-radius: 25px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    
    .carte-activite img {
        max-height: 265px;
    }


/*-------footer -----------*/

    .footer-content {
        padding: 45px 0 50px 50px;
        grid-template-columns: 28% 5% 28% 5% 28% 6%;
    
    }
}  

@media screen and (max-width: 768px) {
    body {
        display: none;
    }
}